<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="allTestSuite">
    <test name="allTests">
        <classes>
            <class name="com.inmoment.reporting.tests.LoginTests"/>
            <class name="com.inmoment.reporting.tests.ReportingPageTests"/>
        </classes>
    </test>
</suite>